html {
  scroll-behavior: smooth;
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.img-button{
    width: 160px;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1.25rem;
  }
.nav-bar-btn{
    width: 128px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 16px 0 16px 0;
  }
.profile-link{
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
.profile-link-wide{
    width: 32px;
    height: 24px;
    pointer-events: none;
  }
.bg-black{
    background-color: black;
  }
.btn-black{
    background-color: black;
  }
.btn-black:hover{
    background-color: #212529;
  }
.bg-main{
    background-color: #D9D9D9;
  }
.text-main{
    color: #D9D9D9;
    font-weight: 600;
  }
.bg-ink{
    background-color: #062F4F;
  }
.bg-flame{
    background-color: #B82601;
  }

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  } */
.text-whitesmoke{
  color: whitesmoke;
  }
.text-box{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
  width: auto;
  }
.text-box-animation{
  animation-name: fadeIn;
  animation-duration: 2s;
  }
.section-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: bold;
  }

.sidebar-offset{
  margin-left: 192px;
  }
.glow-effect{
  --glow-line-color: #B82601;
  --glow-line-thickness: 2px;
  --glow-line-length: 20px;
  --glow-blur-color: #B82601;
  --glow-blur-size: 5px;
  --glow-offset: 0px;
  --animation-speed:1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
  position: relative;
  }
.glow-container{
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  /* outline: 3px solid blue; */
  }
.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  rx: 0.45em;
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
  }

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  }

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
  }

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
  }

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
  }

@keyframes glow-visibility {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  }

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
  }
.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
  }

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
  }

.w3rcontainer{
  border: 1px solid #cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #B82601;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.sub-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  padding-left: 32px;
}
.bullet{
  margin-left: 64px;
}
.bullet2{
  margin-left:80px;
}
.bullet-side{
  padding-right: 50px;
}
.ul{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.bullet3{margin-left: 140px;}
.image-list{
  justify-content: center;
}
.image-list-item{
  width: 400px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Make the image to responsive */
.image {
  width: 400px;
  height: 250px;
  position: relative;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  align-items: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 20px 20px;
  background-color: rgb(33,37,41, .95);
  overflow: hidden;
  width: 400px;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}
a{
  color:#212529;
}
input[type=submit]{
  border: none;
  background-color: transparent;
  color:#212529;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}